body {
    background-color: black;
    color: white;

}

main {
    margin: 10%;
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0% 15% 0% 5%;
}

.cabecalho_menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}

.cabecalho_menu a{
    text-decoration: none;
    background-color: rgb(44, 42, 42);
    color: white;
    border-radius: 5px;
    padding: 5%;
    white-space: nowrap;
}

.rodape {
    text-align: center;
}

.projeto {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

